/* Custom Dark Navigator */
.custom-nav {
    background-color: #212529; /* Dark Charcoal Grey */
    padding: 15px 0;
}

.text-light-grey {
    color: #adb5bd !important;
    text-decoration: none;
}

.text-light-grey:hover {
    color: white !important;
}

/* Welcome Section Styling */
.welcome-section h1 {
    font-size: 2.5rem;
    color: #212529;
}

.feature-list {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1.1rem;
    color: #333;
}

.feature-list li {
    margin-bottom: 8px;
}